<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--이제 타임리프 문법 사용가능-->
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>

<style>
  .layout {
    width: 500px;
    margin : 0 auto;
    margin-top : 40px;
  }
</style>

<body>
  <div class="layout">
    <table>
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${list}"> <!--컨트롤러에서 list에 담긴 보드를 하나씩 빼준다
        each는 반복문이다 (List에서 Board가 없을때까지 반복)-->
          <td th:text="${board.id}">1</td>
          <td>
            <a th:text="${board.content}" th:href="@{/board/view(id=${board.id})}"></a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>